.elementor-2627 .elementor-element.elementor-element-a5528ec>.elementor-container {
    min-height: 70vh;
}

.elementor-2627 .elementor-element.elementor-element-a5528ec:not( .elementor-motion-effects-element-type-background),
.elementor-2627 .elementor-element.elementor-element-a5528ec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(286deg, #000000 0%, #8b8b8b 100%);
}

.elementor-2627 .elementor-element.elementor-element-a5528ec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2627 .elementor-element.elementor-element-a5528ec>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2627 .elementor-element.elementor-element-b2656e9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2627 .elementor-element.elementor-element-b2656e9.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2627 .elementor-element.elementor-element-5b564bf .elementor-button {
    fill: #ffffff;
    color: #ffffff;
    background-color: #ffffff00;
}

.elementor-bc-flex-widget .elementor-2627 .elementor-element.elementor-element-79a0b19.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-2627 .elementor-element.elementor-element-79a0b19.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2627 .elementor-element.elementor-element-79a0b19>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2627 .elementor-element.elementor-element-1e44964 {
    text-align: right;
}

.elementor-2627 .elementor-element.elementor-element-1e44964 .elementor-heading-title {
    color: #b6b6b6;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.elementor-2627 .elementor-element.elementor-element-6778991 {
    text-align: right;
}

.elementor-2627 .elementor-element.elementor-element-6778991 .elementor-heading-title {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 0.9em;
}

.elementor-2627 .elementor-element.elementor-element-6778991>.elementor-widget-container {
    padding: 0px 0px 50px 0px;
}

.elementor-2627 .elementor-element.elementor-element-fe036ee>.elementor-container {
    max-width: 1400px;
}

.elementor-2627 .elementor-element.elementor-element-e208433 {
    text-align: left;
    z-index: -2;
}

.elementor-2627 .elementor-element.elementor-element-e208433 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 32px;
    font-weight: 300;
}

.elementor-2627 .elementor-element.elementor-element-e208433>.elementor-widget-container {
    margin: -250px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-8e1d88e {
    padding: 50px 0px 50px 0px;
}

.elementor-2627 .elementor-element.elementor-element-6689ee3 {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-6689ee3 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
}

.elementor-2627 .elementor-element.elementor-element-2d8cd13 {
    padding: 0px 0px 100px 0px;
}

.elementor-2627 .elementor-element.elementor-element-c1fd36f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2627 .elementor-element.elementor-element-c1fd36f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2627 .elementor-element.elementor-element-c1fd36f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2627 .elementor-element.elementor-element-c1fd36f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-cc2e367>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2627 .elementor-element.elementor-element-083500d {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-083500d .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-2627 .elementor-element.elementor-element-8be67ce {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-8be67ce .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 70px;
    font-weight: 200;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-2627 .elementor-element.elementor-element-1d233eb {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-1d233eb .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-2627 .elementor-element.elementor-element-0061a52>.elementor-container {
    max-width: 500px;
}

.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button {
    fill: #ffffff;
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(292deg, #ff338d 0%, #ff7e00 100%);
    border-style: none;
    border-radius: 5px 5px 5px 5px;
}

.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button:hover,
.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button:hover svg,
.elementor-2627 .elementor-element.elementor-element-53a1328 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button {
    fill: #ffffff;
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(292deg, #ff338d 0%, #ff7e00 100%);
    border-style: none;
    border-radius: 5px 5px 5px 5px;
}

.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button:hover,
.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button:hover svg,
.elementor-2627 .elementor-element.elementor-element-daf0a7a .elementor-button:focus svg {
    fill: #000000;
}

.elementor-2627 .elementor-element.elementor-element-3dc9d40 {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-3dc9d40 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-2627 .elementor-element.elementor-element-3dc9d40>.elementor-widget-container {
    padding: 20px 0px 05px 0px;
}

.elementor-2627 .elementor-element.elementor-element-b99678e>.elementor-shape-bottom .elementor-shape-fill {
    fill: #ebffec;
}

.elementor-2627 .elementor-element.elementor-element-b99678e>.elementor-shape-bottom svg {
    height: 0px;
}

.elementor-2627 .elementor-element.elementor-element-b99678e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-76728f5 .swiper-slide-bg {
    background-image: url(../home-background-img/Regeneration-Main.jpg);
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-76728f5 .elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-76728f5 .swiper-slide-inner .elementor-slide-heading {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-76728f5 .swiper-slide-inner .elementor-slide-description {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-76728f5 .swiper-slide-inner .elementor-slide-button {
    color: #ffffff;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-bg {
    background-image: url(../home-background-img/ICD-poister.jpg);
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-contents {
    margin: 0 auto;
    text-shadow: 77px 1px 42px rgba(0, 0, 0, 0.63);
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-inner {
    align-items: center;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-inner .elementor-slide-heading {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-inner .elementor-slide-description {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-repeater-item-1b41777 .swiper-slide-inner .elementor-slide-button {
    color: #ffffff;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .swiper-slide {
    height: 50vh;
    transition-duration: calc(5000ms * 1.2);
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .swiper-slide-contents {
    max-width: 66%;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .swiper-slide-inner {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-heading {
    font-family: "Roboto", Sans-serif;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 3px;
}

.elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-description {
    font-family: "Roboto Slab", Sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.elementor-2627 .elementor-element.elementor-element-86bddfb>.elementor-container {
    min-height: 100vh;
}

.elementor-2627 .elementor-element.elementor-element-86bddfb>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2627 .elementor-element.elementor-element-86bddfb:not( .elementor-motion-effects-element-type-background),
.elementor-2627 .elementor-element.elementor-element-86bddfb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-86bddfb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 50px 0px;
}

.elementor-2627 .elementor-element.elementor-element-86bddfb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2627 .elementor-element.elementor-element-648d36f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 70px;
}

.elementor-2627 .elementor-element.elementor-element-648d36f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-024acb9 {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-024acb9 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
}

.elementor-2627 .elementor-element.elementor-element-a321fb0:after {
    content: "0.5";
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post {
    border-radius: 10px;
    background-color: #ececec;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__text {
    padding: 0px 10px 0px 10px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__thumbnail {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__title,
.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__title a {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__title {
    margin-bottom: 10px;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__excerpt p {
    color: #6e6e6e;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__excerpt {
    margin-bottom: 10px;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
}

.elementor-2627 .elementor-element.elementor-element-622966e:after {
    content: "0.5";
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-2627 .elementor-element.elementor-element-622966e {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post {
    border-radius: 10px;
    background-color: #ececec;
    border-color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__text {
    padding: 0px 10px 0px 10px;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__thumbnail {
    border-radius: 5px 5px 5px 5px;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__title,
.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__title a {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
}

.elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__title {
    margin-bottom: 10px;
}

.elementor-2627 .elementor-element.elementor-element-2524a71 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-2627 .elementor-element.elementor-element-2524a71 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-2627 .elementor-element.elementor-element-2524a71 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
}

.elementor-2627 .elementor-element.elementor-element-2524a71 .elementor-button:hover,
.elementor-2627 .elementor-element.elementor-element-2524a71 .elementor-button:focus {
    background-color: #ff7e00;
    border-color: #ff7e00;
}

.elementor-2627 .elementor-element.elementor-element-bf4bc01:not( .elementor-motion-effects-element-type-background),
.elementor-2627 .elementor-element.elementor-element-bf4bc01>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff;
}

.elementor-2627 .elementor-element.elementor-element-bf4bc01 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-2627 .elementor-element.elementor-element-bf4bc01>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2627 .elementor-element.elementor-element-f572636>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 50px;
}

.elementor-2627 .elementor-element.elementor-element-f572636>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-4a1717e {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-4a1717e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
}

.elementor-2627 .elementor-element.elementor-element-b9ccdfa {
    --e-image-carousel-slides-to-show: 4;
}

.elementor-2627 .elementor-element.elementor-element-b9ccdfa .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 200px 200px 200px 200px;
}

.elementor-2627 .elementor-element.elementor-element-b9ccdfa .elementor-image-carousel-caption {
    text-align: center;
    color: #363535;
}

.elementor-2627 .elementor-element.elementor-element-bae9087 {
    padding: 100px 0px 50px 0px;
}

.elementor-2627 .elementor-element.elementor-element-92d35b0 {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-92d35b0 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
}

.elementor-2627 .elementor-element.elementor-element-21f91ee {
    padding: 0px 0px 50px 0px;
}

.elementor-2627 .elementor-element.elementor-element-1f18e7f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-0794c67 {
    padding: 0px 0px 0px 0px;
}

.elementor-2627 .elementor-element.elementor-element-cb2693a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__front {
    background-color: #7d7d7d;
    background-image: url("../home-background-img/competition/Feature-FR.jpg");
    background-position: center center;
    background-size: 150% auto;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #000000ad;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-5a3fc76 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-95d4d3d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__front {
    background-color: #7d7d7d;
    background-image: url("../home-background-img/competition/Raja-Metal-_1.jpg");
    background-position: center center;
    background-size: 150% auto;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #000000ad;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__image {
    opacity: 1;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-48c6096 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/AI174.jpg");
    background-position: center center;
    background-size: 150% auto;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-de8b502 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/Train-Graphics-scaled.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-6a73574 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/web-home.jpg");
    background-position: center right;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-686868b .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/Untitled-2.jpg");
    background-position: center right;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-8bd25e6 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/aMane_n.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-10fac34 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/Cover.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-be3c92e .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/post-covid.png");
    background-position: center right;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #0000008f;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-2006954 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/iMPULSIVE-SCHOOLING-4.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-1dc7fa7 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/1111111-scaled.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000030;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-d176e20 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__front {
    background-color: #ffffff;
    background-image: url("../home-background-img/competition/graphics-1-scaled.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: #00000059;
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__back {
    background-color: #000000c7;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box {
    height: 180px;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__layer,
.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__layer__overlay {
    border-radius: 5px;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__front .elementor-flip-box__layer__title {
    color: #ffffff;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: center;
}

.elementor-2627 .elementor-element.elementor-element-ef288d9 .elementor-flip-box__button {
    margin-center: 0;
    border-width: 2px;
}

@media (max-width: 1024px) {
    .elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-heading {
        font-size: 50px;
    }
    .elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-description {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .elementor-2627 .elementor-element.elementor-element-1e44964 .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-2627 .elementor-element.elementor-element-6778991 .elementor-heading-title {
        font-size: 44px;
    }
    .elementor-2627 .elementor-element.elementor-element-fe036ee {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-2627 .elementor-element.elementor-element-8d4e59c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2627 .elementor-element.elementor-element-e208433 {
        text-align: left;
    }
    .elementor-2627 .elementor-element.elementor-element-e208433 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-2627 .elementor-element.elementor-element-e208433>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 30px;
    }
    .elementor-2627 .elementor-element.elementor-element-6689ee3 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-2627 .elementor-element.elementor-element-2d8cd13 {
        padding: 5px 5px 50px 5px;
    }
    .elementor-2627 .elementor-element.elementor-element-8be67ce .elementor-heading-title {
        line-height: 1em;
    }
    .elementor-2627 .elementor-element.elementor-element-1d233eb .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-heading {
        font-size: 30px;
    }
    .elementor-2627 .elementor-element.elementor-element-d49d44c .elementor-slide-description {
        font-size: 13px;
    }
    .elementor-2627 .elementor-element.elementor-element-648d36f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not( .elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 20px;
    }
    .elementor-2627 .elementor-element.elementor-element-024acb9 .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0:after {
        content: "0.5";
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__thumbnail__link {
        width: 100%;
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0 {
        --grid-column-gap: 5px;
        --grid-row-gap: 15px;
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__text {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__title,
    .elementor-2627 .elementor-element.elementor-element-a321fb0 .elementor-post__title a {
        font-size: 14px;
    }
    .elementor-2627 .elementor-element.elementor-element-622966e .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }
    .elementor-2627 .elementor-element.elementor-element-622966e:after {
        content: "0.5";
    }
    .elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__thumbnail__link {
        width: 100%;
    }
    .elementor-2627 .elementor-element.elementor-element-622966e {
        --grid-column-gap: 5px;
        --grid-row-gap: 15px;
    }
    .elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__text {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__title,
    .elementor-2627 .elementor-element.elementor-element-622966e .elementor-post__title a {
        font-size: 14px;
    }
    .elementor-2627 .elementor-element.elementor-element-bf4bc01 {
        padding: 20px 0px 20px 0px;
    }
    .elementor-2627 .elementor-element.elementor-element-4a1717e .elementor-heading-title {
        font-size: 36px;
    }
    .elementor-2627 .elementor-element.elementor-element-92d35b0 .elementor-heading-title {
        font-size: 36px;
    }
}

@media (min-width: 768px) {
    .elementor-2627 .elementor-element.elementor-element-cc2e367 {
        width: 100%;
    }
    .elementor-2627 .elementor-element.elementor-element-1724141 {
        width: 50%;
    }
    .elementor-2627 .elementor-element.elementor-element-f945597 {
        width: 49.383%;
    }
}