.elementor-2562
  .elementor-element.elementor-element-6cb6bb7
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2562
  .elementor-element.elementor-element-6cb6bb7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2562
  .elementor-element.elementor-element-6cb6bb7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #383838;
}
.elementor-2562 .elementor-element.elementor-element-6cb6bb7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 50px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-6cb6bb7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2562
  .elementor-element.elementor-element-4a4a705
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 50px;
}
.elementor-2562
  .elementor-element.elementor-element-4a4a705
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 10px 10px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-9bb41e7
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group {
  padding-right: calc(0px / 2);
  padding-left: calc(0px / 2);
  margin-bottom: 5px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-form-fields-wrapper {
  margin-left: calc(-0px / 2);
  margin-right: calc(-0px / 2);
  margin-bottom: -5px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group
  .elementor-field {
  color: #ffffff;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group
  .elementor-field,
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-subgroup
  label {
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #828282;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #828282;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .e-form__buttons__wrapper__button-next {
  background-color: #c9c9c9;
  color: #000000;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-button[type="submit"] {
  background-color: #c9c9c9;
  color: #000000;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-button[type="submit"]
  svg
  * {
  fill: #000000;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .e-form__buttons__wrapper__button-next:hover {
  background-color: #ffffff;
  color: #ff6400;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-button[type="submit"]:hover {
  background-color: #ffffff;
  color: #ff6400;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ff6400;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-2562 .elementor-element.elementor-element-ef1b11b .elementor-button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-message {
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  .elementor-message.elementor-message-success {
  color: #ffffff;
}
.elementor-2562 .elementor-element.elementor-element-ef1b11b {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-2562
  .elementor-element.elementor-element-ef1b11b
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-2562
  .elementor-element.elementor-element-8446694.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-2562
  .elementor-element.elementor-element-8446694.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-2562
  .elementor-element.elementor-element-8446694.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2562
  .elementor-element.elementor-element-8446694
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-2562
  .elementor-element.elementor-element-8446694
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 15px 50px 0px 50px;
}
.elementor-2562 .elementor-element.elementor-element-72d0c00 {
  text-align: justify;
  font-family: "Poppins", Sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-2562 .elementor-element.elementor-element-a148bb1 {
  text-align: justify;
  font-family: "Poppins", Sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
}
.elementor-bc-flex-widget
  .elementor-2562
  .elementor-element.elementor-element-d859442.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-2562
  .elementor-element.elementor-element-d859442.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-2562
  .elementor-element.elementor-element-d859442.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-2562
  .elementor-element.elementor-element-d859442
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu
  .elementor-item {
  font-family: "Poppins", Sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1em;
}
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
  fill: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #ef6a00;
  fill: #ef6a00;
}
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: #61ce7000;
}
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .e--pointer-framed
  .elementor-item:before,
.elementor-2562
  .elementor-element.elementor-element-dae7759
  .e--pointer-framed
  .elementor-item:after {
  border-color: #61ce7000;
}
.elementor-2562
  .elementor-element.elementor-element-d4dc46f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2562
  .elementor-element.elementor-element-d4dc46f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #383838;
}
.elementor-2562 .elementor-element.elementor-element-d4dc46f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2562
  .elementor-element.elementor-element-d4dc46f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2562 .elementor-element.elementor-element-e219e33 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 15px;
  --grid-row-gap: 0px;
}
.elementor-2562
  .elementor-element.elementor-element-e219e33
  .elementor-widget-container {
  text-align: center;
}
.elementor-2562 .elementor-element.elementor-element-de80c70 {
  columns: 1;
  column-gap: 0px;
  color: #7a7a7a;
  font-family: "Poppins", Sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) {
  .elementor-2562 .elementor-element.elementor-element-4a4a705 {
    width: 24.999%;
  }
  .elementor-2562 .elementor-element.elementor-element-8446694 {
    width: 49.664%;
  }
  .elementor-2562 .elementor-element.elementor-element-d859442 {
    width: 25.001%;
  }
}
@media (max-width: 1024px) {
  .elementor-2562
    .elementor-element.elementor-element-4a4a705
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 5px 0px 5px;
  }
  .elementor-2562
    .elementor-element.elementor-element-8446694
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 767px) {
  .elementor-2562
    .elementor-element.elementor-element-4a4a705
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 20px 20px;
  }
}
