@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.wro {
    max-width: 72rem;
    margin: 0 auto;
}

.skilstitle {
    background: #ffffff;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #555555;
}

.skilstitle h2 {
    text-align: center;
    font-family: "Josefin Slab", Sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
}

.bay-section {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
}

.bay-section .all-bay {
    height: 200px;
    width: 100%;
    background-color: #fcfaf7;
}

.bay-section .bay-wait {
    background: radial-gradient( hsla(25, 98%, 51%, 0.596), hsla(17, 94%, 48%, 0.897)), url(../home-background-img/learn/Lumion-cover-image.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.bay-wait h2 {
    color: #fff;
    font-size: 2rem;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    margin-top: 9%;
    margin-left: 8%;
    word-spacing: -1px;
}

.light-bay-text {
    font-weight: 200;
    font-size: 2.3rem;
}

.right-bay-new {
    margin-top: 11%;
    margin-left: 8%;
}

.right-bay-new p {
    font-size: 14px;
    color: #222;
    font-weight: 300;
    margin-bottom: 15px;
}

.right-bay-new a {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 11px 22px;
    font-size: 13px;
    font-weight: 600;
    fill: #000000;
    color: #000000;
    background-color: #61ce7000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.right-bay-new .fa-arrow-right {
    margin-left: 5px;
}

.right-bay-new a:hover {
    color: #fff;
    background: #fa6024;
}


/* ==== Start Coursh Dectiom ======= */

.coursh-container {
    width: 100%;
    margin: 1rem 0rem;
    box-shadow: 1px 1px 10px #3333335e;
    border-radius: 3px;
    padding: 15px;
    display: flex;
}

.coursh-image {
    width: 30%;
    border-radius: 3px;
}

.coursh-4th-text p,
.coursh-5th-text p {
    margin-bottom: 0.8em !important;
}

.coursh-image img {
    width: 100%;
    background-size: cover;
    border-radius: 3px;
}

.all-coursh-text {
    width: 70%;
}

.all-coursh-rap {
    margin-left: 20px;
}

.all-coursh-rap .courch-sub-ul {
    margin: 0;
    padding: 0;
}

.all-coursh-text ul li {
    list-style-type: none;
    margin-bottom: -4px;
}

.all-coursh-text a {
    color: #222;
}

.coursh-1st-text ul {
    display: flex;
}

.coursh-1st-text ul li {
    margin-right: 20px;
}

.coursh-1st-text a {
    color: #ff7e00;
    font-weight: 600;
    font-size: 18px;
}

.fa-solid {
    font-size: 14px;
    margin-right: 5px;
}

.coursh-2nd-text h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.coursh-3rd-text h3 a {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}

.coursh-3rd-text h3 {
    margin: -10px 0px -5px 0px;
}

.coursh-4th-text p {
    font-size: 16px;
    font-weight: 500;
}

.coursh-5th-text p a {
    font-size: 13px;
    color: #838383;
}

.coursh-5th-text p {
    line-height: 16px;
}

.coursh-6est-text a {
    color: #61ce70;
}

.coursh-6est-text ul {
    display: flex;
}

.coursh-6est-text ul li {
    margin-right: 20px;
    font-size: 15px;
}

.element-list .elementor-icon-list-text {
    font-size: 15px;
    font-weight: 400;
}

.element-list .list-tex2 {
    font-weight: 500;
    font-size: 16px;
}

.copyrightSection-all-link-font a i {
    font-size: 22px !important;
}